<div class="seven">

    <div class="feed" id="feed">
        <h2 class="titleseven cursive">Whats New?</h2>
        <div class="feed-posts">
            <ul class="posts">
                <div class="item-feed">
                    <div class="sentc">Sean added the iPhone 14 Pro to his wishlist!</div>
                    <div class="post-date">24/11/22</div>
                    <div class="post-cost">$1500</div>
                    <div class="discr"> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error quibusdam
                        dolor eligendi obcaecati excepturi nesciunt animi quaerat harum maiores voluptas, quam
                        exercitationem ipsum placeat ratione similique nam? Dolor, ipsa asperiores? Lorem, ipsum
                        dolor sit amet consectetur adipisicing elit. Natus, sapiente ut deleniti accusantium ad sed
                        dolore ipsum eius! Velit dicta enim aut voluptates perferendis eaque eligendi iste
                        aspernatur quis maiores?</div>
                </div>
            </ul>
        </div>
    </div>

</div>

<div class="three">
    <div class="friendslist" id="friendslist">
        <ul>
            <button class="friend" id="friend">
                <div class="displaypic"><i class="fa-regular fa-circle-user fa-4x"></i></div>
                <div class="fname">Sean Butcher</div>
                <div class="flistlength fpop">7 Items</div>
                <div class="Bday fpop"><i class="fa-solid fa-cake-candles"></i> : 02/02/02</div>
            </button>
            <button class="friend">
                <div class="displaypic"><i class="fa-regular fa-circle-user fa-4x"></i></div>
                <div class="fname">Sean Butcher</div>
                <div class="flistlength fpop">7 Items</div>
                <div class="Bday fpop"><i class="fa-solid fa-cake-candles"></i> : 02/02/02</div>
            </button>

        </ul>
    </div>
</div>