<div class="acc logup " id="login">
  <h1 class="cursive acc-title">Login</h1>
  <!-- inputs -->
  <form method="post">
    <!-- email -->
    <div class="txt_field">
      <input type="text" id="username" required>
      <span></span>
      <label>username</label>
    </div>
    <!-- password -->
    <div class="txt_field">
      <input type="password" id="password" required>
      <span></span>
      <label>Password</label>
    </div>
    <!-- log in btn -->
    <input type="submit" value="Login" id="btnlogin">
    <!-- sign up btn -->
    <div class="signup_link">
      Not a member? <a href="#">Signup</a>
    </div>
  </form>
</div>