    <div class="seven">
    
        <div class="mywishlist" id="mywishlist">
            <h2 class="cursive titleseven">Your Wish List<button class="btn-newitem" id="btn-newitem">New Item!</button></h2>            
            
            <ul class="wl">
                <div class="item-feed">
                    <div class="item">iPhone 14 Pro</div>
                    <div class="post-date">24/11/22</div>
                    <div class="post-cost">$1500</div>
                    <div class="discr"> DeepPurple 256GB</div>
                    <button class="del"><i class="fa-solid fa-trash fa-xl"></i></button>
                </div>
                <div class="item-feed">
                    <div class="item">iPhone 14 Pro</div>
                    <div class="post-date">24/11/22</div>
                    <div class="post-cost">$1500</div>
                    <div class="discr"> DeepPurple 256GB</div>
                    <button class="del"><i class="fa-solid fa-trash fa-xl"></i></button>
                </div>
            </ul>

        </div>
    </div>


    <div class="three">

        <div class="newitem" id="newitem">
            <!-- name -->
            <h1 class="titleseven cursive">New Item !</h1>

            <form class= "new-post-form" method="post">
                <div class="txt_field">
                    <input id="newitem" type="text" required>
                    <span></span>
                    <label>What is it?</label>
                </div>

                   <div class="txt_field">
                    <input id="id" type="text" required>
                    <span></span>
                    <label>UserID</label>
                </div>


                <div class="txt_field">
                    <input id="URL" type="text" required>
                    <span></span>
                    <label>URL</label>
                </div>

                <!-- dob -->
                <div class="txt_field">
                    <input id="price" type="text" required>
                    <span></span>
                    <label>Item-cost</label>
                </div>
                <input type="submit" value="Save" id="savenewitembtn">
            </form>
        </div>

    </div>

<script src="/js/newitem.js"></script>