        <div class="acc logup" id="signup">
            <!-- name -->
            <h1 class= 'cursive acc-title'>Sign Up</h1>

            <form class="signup-form" method="post">
                <div class="txt_field">
                    <input id="username" type="text" required>
                    <span></span>
                    <label>Name</label>
                </div>

                <div class="txt_field">
                    <input type="text" required>
                    <span></span>
                    <label>Sirname</label>
                </div>

                <!-- dob -->
                <div class="txt_field">
                    <input type="text" required>
                    <span></span>
                    <label>DOB</label>
                </div>

                <!-- email -->
                <div class="txt_field">
                    <input type="text" required>
                    <span></span>
                    <label>email</label>
                </div>

                <!-- pasword -->
                <div class="txt_field">
                    <input id="password" type="password" required>
                    <span></span>
                    <label>Password</label>
                </div>
                <!-- submit -->
                <input type="submit" value="Create Account">
                <!-- sign up btn -->
                Already a member? <a href="#">Sign in</a>
            </form>
        </div>

<script src="./js/signup.js"></script>