<div class="seven">

        <div class="theirwishlist x" id="theirwishlist">
            <h2 class=" cursive titleseven">Their Wishlist</h2>
            <ul class="wl">
                <div class="item-feed">
                    <div class="item">iPhone 14 Pro</div>
                    <div class="post-date">24/11/22</div>
                    <div class="post-cost">$1500</div>
                    <div class="discr"> DeepPurple 256GB Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt quasi laborum dicta ut, iusto expedita porro aspernatur laudantium quidem corrupti?</div>
                </div>
        </div>

</div>

<div class="three">
    <div class="friendslist x" id="friendslist">
        <ul>
            <button class="friend" id="friend">
                <div class="displaypic"><i class="fa-regular fa-circle-user fa-4x"></i></div>
                <div class="fname">Sean Butcher</div>
                <div class="flistlength fpop">7 Items</div>
                <div class="Bday fpop"><i class="fa-solid fa-cake-candles"></i> : 02/02/02</div>
            </button>
            <button class="friend">
                <div class="displaypic"><i class="fa-regular fa-circle-user fa-4x"></i></div>
                <div class="fname">Sean Butcher</div>
                <div class="flistlength fpop">7 Items</div>
                <div class="Bday fpop"><i class="fa-solid fa-cake-candles"></i> : 02/02/02</div>
            </button>

        </ul>
    </div>
</div>